body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
 body img{
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: 1550px;
    bottom: 100px;
} 
.container{ 
     border: 2px solid rgb(22, 21, 21); 
     height: 300px; 
     width: 1550px; 
     background: url('../img/img1.jpg'); 
}
 .container img{ 
     height: 100%; 
     width: 100%; 
}
.header h1{
    text-align: center;
    font-size: 50px;
    line-height: 250px;

}
*{
    padding: 0px;
    margin: 0px;
}
.nav{
    width: 100%;
    height: 50px;
    background-color:chartreuse;
    word-spacing: 50px;
    text-decoration: none;
    margin: 3px;
    padding: 14px;
    text-align: center;
    display: block;
    font-size: 2rem;
}.nav ul{
    list-style-type: none;
}
.nav ul li{
 display: inline;
 text-decoration: none;
}
a:hover {

    color: black;
}
h2{
   background-color:  red;
}





.header{
    width:100%;
    height: 250px;
    background-color: green;
    color: black;
}
.body{
    margin: 50px;
    padding:50px
}